*{
  margin: 0 auto;
  padding: 0;
}
body {
    background: #dfdfdf;
    font-family: 'Raleway', sans-serif;
    color: rgb(34, 34, 34);
  }

.navbar-brand{
    margin-left: 1%;
  }

.navbar-brand-2{
    text-decoration: none;
    color: black;
    margin: 0 5px 0 5px;
  }

.container{
    padding: 5px;
}

.alinhar{
  display: flex;
}

.card{
  margin: 2%;
  margin-top: 10%;
  width: 30%;
  height: 25rem; /*ajusta o tamanho do card*/
}

.card-body{
  padding-bottom: 5px;
  text-align: center;
  padding: 5px;
}

.card-title{
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.card-text{
  text-align: justify;
  margin-bottom: 0%;
}


.card-img-top{
  width: 80%;
  height: 50%;
}

.button{
  text-decoration: none;
  position: relative;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #097e38;
  color:#ffffff;
  transition: all 0.3s;
}

.button:hover{
  background: transparent;
  letter-spacing: 2px;
}

.button::before{top:0;}
.button::after{bottom:0;}
.button::before,
.button:hover::after{
transform: scaleX(1);
}

.redes-sociais{
  display:flex;
  margin-top: 0%;
}

.social-icons{
  width: 25px;
  margin: 0 15px 0 15px;
}
.social-links{
text-decoration: none;
}

.redes-titulo{
  margin-bottom: 20px;
  text-align: center;
  font-style:italic;
  font-weight: bold;
  text-transform: uppercase;
}

.link-link{
  text-decoration: none;
  color:gray;
}

.texto{
 width: 85%;
 height: 80%;
 background: #ed8507b1;
 border: 20px solid #c57616e0;
 border-radius: 50%;
 padding: 20px;
}


/*STYLE PAGINA PONTOS TURISTICOS*/
.container-pontos{
  margin: 15% 10% 20% 10%;
}

.cardPontos{
  margin: 2%;
  margin: 15% 10% 0 10%;
  padding-bottom: 0;
  width: 60%;
  height: 40rem; /*ajusta o tamanho do card*/
  border-style: ridge;
 
}

.maps{
  text-align: left;
  font-weight: bold;
  margin: 10% 10% 10% 10%;
}

.card-bodyPontos{
  padding-bottom: 5px;
  text-align: center;
  padding: 5px;
  width: 100%;
  
}

.volta{
  margin-top: 10%;
}


/*STYLE PAGINA CADASTRO*/

.container-cad{
text-align: center;
margin: 10% 15% 15% 15%;
}